body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

card{
  text-align: center;
}
@media(min-width: 576px)
{
    .container{
      width:540px;
      max-width: 100%;
    }
}

@media(min-width:768px)
{
     .container{
       width:740px;
       max-width: 100%;
     }
}

@media(min-width:992px)
{
   .container{
     width:980px;
     max-width: 100%;
   }
}

@media(min-width:1200px)
{
    .container{
      width: 1160px;
      max-width: 100%;
    }
}
.position{
  text-align: center;
}



